<template>
  <div class="c-calculator">
    <div>
      <div class="c-container">
        <template v-for="(item, index) in expression">
          <FractionNumber
            :key="index"
            @remove="remove"
            :idx="index"
            @error="handleError"
            :fraction="item.value"
            v-model="expression[index].value"
            v-if="item.type === 'fraction'"
          />
          <Sign
            :key="index"
            :idx="index"
            v-if="item.type === 'sign'"
            :sign="item.value"
          />
        </template>
        <Sign sign="=" />
        <FractionNumber :result="true" :fraction="result" />
      </div>
      <div class="o-button-wrapper">
        <button tabindex="0" type="button" class="c-btn" v-if="canAdd" @click="addNewNumber">
          add new element
        </button>
        <span class="c-btn c-btn--disabled" v-else>
          you can add only five fractions
        </span>
      </div>
    </div>
    <div class="c-message">
      <div :key="index" v-for="(error, index) in errors" class="c-message__text">
        <div v-if="error">index: [{{ error.index }}]; error:  {{ error.message }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import FractionNumber from "@/components/FractionNumber.vue";
import Sign from "@/components/Sign.vue";

export default {
  name: "Calculator",
  components: {
    FractionNumber,
    Sign
  },
  data() {
    return {
      expression: [
        {
          value: {
            numer: 1,
            denom: 5
          },
          type: "fraction"
        },
        { value: "+", type: "sign" },
        {
          value: {
            numer: 2,
            denom: 5
          },
          type: "fraction"
        },
        { value: "+", type: "sign" },
        {
          value: {
            numer: 3,
            denom: 5
          },
          type: "fraction"
        }
      ],
      errors: {}
    };
  },
  computed: {
    result() {
      let res = 0;
      for (let i = 0; i < this.expression.length - 1; ++i) {
        if (this.expression[i].type === "fraction" && res === 0) {
          res = this.expression[i].value;
        } else {
          if (this.expression[i].type === "sign") {
            res = this.addition(res, this.expression[i + 1].value);
          }
        }
      }
      return res;
    },
    canAdd() {
      return this.expression.filter(item => item.type === 'fraction').length < 5
    },
  },
  methods: {
    remove(idx) {
      if (this.expression.length > 3) {
        if (this.expression[idx + 1]) {
          this.expression = this.expression.filter(
            (val, i) => i !== idx && i !== idx + 1
          );
        } else if (this.expression[idx - 1]) {
          this.expression = this.expression.filter(
            (val, i) => i !== idx && i !== idx - 1
          );
        }
      }
    },
    gcd(a, b) {
      if (!b) {
        return a;
      }

      return this.gcd(b, a % b);
    },
    addition(val1, val2) {
      const { numer: numer1, denom: denom1 } = val1;
      const { numer: numer2, denom: denom2 } = val2;
      if (denom1 !== denom2) {
        const nres = numer1 * denom2 + numer2 * denom1;
        const dres = denom1 * denom2;
        const gcdNumber = this.gcd(nres, dres);
        return {
          numer: nres / gcdNumber,
          denom: dres / gcdNumber
        };
      } else {
        return { numer: numer1 + numer2, denom: denom1 };
      }
    },
    addNewNumber() {
      this.expression = [
        ...this.expression,
        {
          value: "+",
          type: "sign"
        },
        {
          value: {
            numer: 1,
            denom: 1
          },
          type: "fraction"
        }
      ];
    },
    handleError(error) {
      if(error.index > 2) {
        error.index = error.index - 1
      } else if (error.index === 0) {
        error.index = 1
      }
      if(error.message) {
        Vue.set(this.errors, error.index, error)
      } else {
        Vue.delete(this.errors, error.index)
      }
    }
  }
};
</script>

<style>
</style>

<style scoped>

.c-calculator {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .c-calculator {
    flex-direction: row;
  }
}
.c-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.o-button-wrapper {
  margin-top: 2rem;
}
.c-btn {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  background: bisque;
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 4px 4px 1px hsla(0, 0%, 0%, 0.2);
}
.c-btn:hover {
  background: salmon;
  color: snow;
}
.c-btn:focus {
  border: 1px solid black;
}
.c-btn--disabled {
  cursor: default;
}
.c-btn--disabled:hover {
  background: bisque;
  color: black
}
.c-message {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .c-message {
    margin-left: 1rem;
  }
}
.c-message__text {
  color: red;
}
</style>
