<template>
  <div v-if="isFraction || !result" class="o-wrapper">
    <button v-if="!result" type="button" @click="remove">
      <svg width="16" height="16" viewBox="0 0 100 100">
        <line stroke-width="10px" x1="0" y1="0" x2="100" y2="100" />
        <line stroke-width="10px" x1="100" y1="0" x2="0" y2="100" />
      </svg>
    </button>
    <div v-if="!result" @input="input" contenteditable class="c-number c-numer">
      {{ numer }}
    </div>
    <div v-else @input="input" class="c-number c-numer">
      {{ numer }}
    </div>
    <div class="c-line"></div>
    <div v-if="!result" @input="input" contenteditable class="c-number c-denom">
      {{ denom }}
    </div>
    <div v-else @input="input" class="c-number c-denom">
      {{ denom }}
    </div>
  </div>
  <div class="o-wrapper" v-else>
    <div class="c-number c-numer">
      {{ numer }}
    </div>
  </div>
</template>

<script>
export default {
  name: "Fraction",
  props: {
    idx: Number,
    fraction: Object,
    result: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    denom() {
      return this.fraction.denom
    },
    numer() {
      return this.fraction.numer
    },
    isFraction() {
      return this.fraction.numer !== this.fraction.denom
    },
  },
  methods: {
    remove() {
      this.$emit('remove', this.idx)
    },
    validDenom(value) {
      if(value === 0 || Number.isNaN(value)) {
        throw new TypeError('division by zero')
      }
    },
    validNumber(value) {
      if(typeof value === 'string' || Number.isNaN(value)) {
        throw new TypeError('it should be a number')
      } else if (value < 0 || value > 99) {
        throw new RangeError('value should be between 1 and 99')
      }
    },
    input({ target }) {
      if(target.textContent === '') {
        return
      }
      const value = Number(target.textContent)
      try {
        if(target.classList.contains('c-denom')) {
          this.validDenom(value)
        }
        this.validNumber(value)
        target.classList.remove('error')
        this.$emit('error', { message: '', index: this.idx })
      } catch (e) {
        target.classList.add('error')
        this.$emit('error', { message: e.message, index: this.idx })
        return
      }
      if(target.classList.contains('c-numer')) {
        this.fraction.numer = value
      } else if (target.classList.contains('c-denom')) {
        this.fraction.denom = value
      }
      this.$emit('input', {numer: this.numer, denom: this.denom})
    },
  }
};
</script>

<style scoped>
.c-line {
  width: 100%;
  height: 2px;
  background: darkgray;
}
.o-wrapper {
  padding: 2rem 1rem 0 1rem;
  position: relative;
}
.o-wrapper:hover button {
  visibility: visible;
}
.c-number {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2.2rem;
  min-height: 2.2rem;
}
.c-number.error {
  color: red;
}
.c-line {
  margin: 0.5rem 0;
}
button {
  width: 100%;
  left: 0;
  font-size: 1.25rem;
  position: absolute;
  background: transparent;
  top: 0.2rem;
  padding: 0;
  cursor: pointer;
  border:none;
  outline: none;
  visibility: hidden;
}
@media (hover: none) {
  visibility: visible;
}
button:hover {
  visibility: visible;
}
button:hover svg {
  color: salmon;
}
svg {
  stroke: currentColor;
}
</style>
