<template>
  <div>
    {{ sign }}
  </div>
</template>

<script>
export default {
  name: "Sign",
  props: {
    sign: String
  }
}
</script>

<style scoped>
div {
  padding-top: 2rem;
  font-size: 2.2rem;
  color: gray;
  display: flex;
  align-items: center;
  height: calc(100% - 2rem);
}
</style>
