<template>
  <div id="app">
    <Header />
    <Calculator />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Calculator from "@/components/Calculator.vue";

export default {
  name: "App",
  components: {
    Header,
    Calculator
  }
};
</script>

<style>
#app {
  font-family: "Liberation Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
</style>
